@media screen and (max-width: 576px) {
    .navbar, .navbar-second ul{
        flex-direction: column;
        padding: 1rem 0;
    }
    .navbar-second ul li{
        padding: 1rem 0;
    }
    .header-container{
        flex-direction: column-reverse;
    }
    .header-right{
        width: 80%;
    }
    .gamer-header{
        flex-direction: column;
    }
    .gamer-right{
        width: 100%;
        text-align: center;
    }
    .gamer-right h3{
        font-size: 1rem;
    }
    .gamer-right h2{
        font-size: 1.2rem;
    }
    .video h1{
        font-size: 1.5rem;
    }
    .card{
        grid-template-columns: repeat(1, 1fr);
    }
    .watch-now {
        display: none;
    }
    .play{
        flex-direction: column;
    }
    .play-left{
        text-align: center;
    }
    .play-right{
        width: 80%;
        padding-top: 30px;
    }
    .play-game{
        flex-direction: column-reverse;
    }
    .play-game-left{
        width: 100%;
        text-align: center;
    }
    .play-game-right{
        width: 80%;
        padding-top: 40px;
    }
    .category{
        flex-wrap: wrap;
        flex-grow: 1;
    }
}