@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
}
.container{
    width: 85%;
    margin: 1rem auto;
}
/* navbar area start */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.navbar-first img{
    width: 90px;
}
.navbar-first .navbar-first-text{
    font-size: 2rem;
    color: #0B0223;
}
.navbar-first .navbar-first-text span{
    color: #FF42A5;
}
.navbar-second ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.navbar-second ul li{
    margin: 0 1.5rem;
    font-size: 1rem;
    color: #372f4A;
    font-weight: 500;
}
.navbar-second .follow{
    background-color: #E7E6E9;
    padding: .7rem 1.5rem;
    border-radius: 10px;
    margin: 0 .3rem;
}
.fa-brands{
    font-size: 1.3rem;
}
.color{
    color: #F61C0D;
    padding: 0 .5rem;
}
/* header area start */

.header{
    background-image: url(./images/Group\ 14.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left h2{
    color: #0B0223;
    font-size: 2rem;
    padding: 0.4rem 0;
}
.goat{
    font-size: 3rem;
    background-image: linear-gradient(#F948B2, #8758F1);
    background-clip: text;
    color: transparent;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.418);
}
.goat-overlay{
    text-shadow: none;
}
.header-left h3{
    color: #534C64;
    font-size: .8rem;
    padding: .3rem 0;
}
.btn-1{
    background-color: #4EC5F7;
    padding: 1rem 1rem;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 30px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem 0;
}
.btn-2{
    background-color: #FF42A5;
    padding: 1rem 1.4rem;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 30px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem 1rem;
}
.header-right{
    width: 50%;
}
.header-right img{
    width: 100%;
}

/* gamer area start */

.gamer{
    background-color: #FFF9FC;
}
.gamer-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gamer-left{
    width: 100%;
}
.gamer-left img{
    width: 100%;
}
.gamer-right{
    width: 60%;
}
.gamer-right h1{
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: .5rem;
}
.gamer-right p{
    font-size: 1rem;
    font-weight: 400;
    padding: .5rem 0;
    color: #534C64;
}
.gamer-right h3{
    color: #534C64;
    font-size: 1.4rem;
    font-weight: 500;
    padding-top: 1rem;
}
.gamer-right h2{
    color: #514B62;
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: .5rem;
}

/* video area start */

.video h1{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: #0B0223;
    padding-top: 1rem;
}
.goat-1{
    background-image: linear-gradient(#F948B2, #8758F1);
    background-clip: text;
    color: transparent;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.418);
}
.video h2{
    font-size: .7rem;
    font-weight: 500;
    text-align: center;
    color: #534C64;
    padding-top: .5rem;
}
.card{
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    position: relative;
}
.card-details img{
    width: 100%;
}
.text{
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
    padding-top: .5rem;
}
.watch-now{
    position: absolute;
    top: 45%;
    left: 58%;
    text-align: center;
    display: none;
}
.watch-now span{
    font-size: 2rem;
    color: white;
}
.watch-now p{
    color: rgb(114, 2, 2);
}
.card-details img:hover+.watch-now{
    display: block;
}
.card-details img:hover{
    filter: brightness(50%);
}

/* play area start */

.play{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.play-left h2{
    font-size: 1.5rem;
    font-weight: 600;
    color: #0B0223;
    padding: .1rem 0;
}
.play-left p{
    font-size: 1rem;
    padding-top: 1rem;
    font-size: .8rem;
    font-weight: 400;
    color: #514B62;
}
.play-right{
    width: 50%;
    position: relative;
}
.play-right img{
    width: 100%;
}
.play-right .img{
    width: 40%;
    position: absolute;
    top: 62%;
    right: 75%;
}

/* play-game area start */

.play-game{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.play-game-right{
    width: 50%;
    position: relative;
}
.play-game-right img{
    width: 100%;
}
.play-game-right .img{
    position: absolute;
    width: 40%;
    top: 65%;
    right: -15%;
}
.play-game-left{
    width: 30%;
}
.play-game-left p{
    font-size: 1rem;
    padding-top: 1rem;
    font-size: .8rem;
    font-weight: 400;
    color: #514B62;
    line-height: 20px;
}

/* category area start */

.category{
    padding-top: 9rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
}
.category-area{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 10px;
    min-width: 180px;
}
.category-area:hover{
    outline: 1.5px solid #FF42A5;
    border-radius: 20px;
    transition: .1s;
}
.category-img img{
    width: 40px;
}
.category-text p{
    color: #0B0223;
    font-size: 1rem;
    font-weight: 700;
}
.category-text p:hover{
    color: #FF42A5;
}

/* footer area start */

.footer{
    background-color: #0B0223;
}
.footer-container{
    padding-top: 3rem;
    text-align: center;
}
.footer-first{
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
}
.footer-first img{
    width: 90px;
}
.footer-first .footer-first-text{
    font-size: 2rem;
    color: #f4f4f5;
}
.footer-first .footer-first-text span{
    color: #FF42A5;
}
.footer-second-text{
    display: flex;
    color: white;
    font-size: 1rem;
    text-align: center;
}
.footer-second-text h4{
    padding: 20px 20px;
    text-align: center;
}
.footer-social-icon{
    color: white;
}
.footer-social-icon i{
    margin: 20px 20px;
    font-size: 2rem;
}
.footer-third-text{
    color: #5E738E;
    display: flex;
    font-size: .7rem;
}
.footer-third-text h3{
    padding: 20px 20px;
}
.footer-last{
    color: #5E738E;
    font-size: .7rem;
}
.footer-last p{
    padding: 20px 0;
}